.hidePath{
	display: none;
}
.showPath{
	display: inline;
}
.textfont {
	font-family: "sans-serif";
	font-size: "11px";
	fill: "white";
}

.axisRadar line {
	stroke: #000;
}

.axisRadar path {
	fill: none;
	stroke: #000;
}

.axisRadar + .axisRadar g text {
	display: none;
}


.geoBtn{

	height:37px;
	width: 37px;
	float:left;-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
#compareBtn{
	height:37px;
	float:left;-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

