    .highlight{
		border-color: black;
		stroke: black;
	}
	line
    {
        
      stroke: grey;
      stroke-width: 3;
      opacity: 0.3;
    }
    .legend text
    {
        font: 8px serif;  
    }
    text.selected,
    rect.selected
    {
      opacity : 1.0;
    }
     .y.axis path,
     .y.axis line {
        font: 10px Garamond;
        color: black;
        stroke: #000;
        stroke: grey;
        shape-rendering: crispEdges;
  }

  .x.axis path,
  .y.axis line 
  {
    display: none;
    font: 10px Garamond;
        color: black;
        stroke: #000;
        stroke: grey;
        shape-rendering: crispEdges;
  }

   body {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar: hover
  {
    opacity: .3;
    fill: orange;
  }

  rect: hover
  {
    opacity: 0.1;
  }

    circle.selected
    {
      /*fill: red;
      stroke: blue;
      stroke-width: 3; */
     /* opacity : 1.0;
        -webkit-transition: opacity 2s ease-in-out;
        -moz-transition: opacity 2s ease-in-out;
        -o-transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;
        */
    }
    .displayMenu
    {
        display: none;
        background:yellow;
    }